//.carousel {
//  width: 100%;
//  position: absolute;
//  bottom: 15%;
//  left: 50%;
//  transform: translateX(-50%);
//

  .gallery {
    width: 100%;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.1);
    //position: relative;
    transition: all ease-in-out 0.3s;

    .imgContainer {
      width: 130px;
      height: 95px;
      margin: 0 5px;
      border-radius: 10px;
      background-size: cover;
      border: 1px solid rgba(200, 200, 200, 0.3);
      transition: all ease-in-out 0.3s;
      opacity: 0.8
    }

    .imgContainer:hover {
      transform: scale(1.2) translateY(-15px);
      z-index: 2;
      transition: all ease-in-out 0.3s;
      opacity: 1;
      cursor: pointer;
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
        transform: translateY(0);
      }
      50% {
        opacity: 0.5;
        transform: translateY(-20px);
      }
      100% {
        opacity: 1;
        //transform: translateY(0);
      }

    }

    .selected {
      border: 4px solid rgba(255, 255, 255, 0.7)
    }
  }

  .gallery:hover {
    //cursor: pointer;
    background-color: rgb(255, 255, 255, 0.3);
    transition: all ease-in-out 0.3s;
  }

  .nav {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    justify-content: space-between;

    .btnNav {
      background-color: rgba(81, 81, 84, 0.4);
      color: rgba(134, 134, 139, 0.9);
      font-weight: 600;
      font-size: 25px;
      outline: none;
      border: none;
      transition: all ease 0.3s;
      z-index: 2;
    }

    .btnNav:hover {
      cursor: pointer;
      background-color: rgba(210, 210, 215, 0.7);
      transition: all ease 0.3s;
    }
  }
//}
// .current{
//   transform: scale(1.25);
// }
